<div id="list" class="pure-u-1">

    <% @user.topics.each do |topic| %>

        <div class="email-item pure-g <%= activate_current_topic(topic, @current_topic) %>">
            <!--div class="pure-u">
                <img width="64" height="64" alt="Discuss avatar" class="email-avatar" src="no.png" />
            </div-->
            <div class="pure-u-3-4">
                <%= link_to(dashboard_index_path(topic_id: topic.id)) do %>
                    <h5 class="email-name"><%= topic.host %></h5>
                    <h4 class="email-subject"><%= topic.title %></h4>
                <!--p class="email-desc">desc</p-->
                <% end %>
            </div>
        </div>

    <% end %>
<!--div class="email-item pure-g>">
            <div class="pure-u-3-4">
                <a href="">
                    <h5 class="email-name">topic</h5>
                    <h4 class="email-subject">Title</h4>
                </a>
            </div>
        </div-->
    <div class="email-item new">
        <%= link_to "New Discussion", dashboard_new_discussion_path, class: "primary-button pure-button" %>
    </div>
</div>

<div id="topic" class="">
    <% unless @current_topic.nil? %>
        <% if @current_topic.id.nil? %>
            <%= render partial: 'topics/form', object: @current_topic, as: :topic %>
        <% else %>
            <%= render @current_topic unless @current_topic.nil? %>
        <% end %>
    <%end%>
</div>