<% provide(:title, "Sign in") %>

<div class="posts">
  <section class="post">
    <div class="post-description">
      
      <% flash.each do |message_type, message| %>
        <div class="message <%= message_type %>">
            <%= sanitize(message) %>
        </div>
      <% end %>

      <%= form_for(:session, url: login_path, html: { class: "pure-form pure-form-aligned" }) do |f| %>
        <fieldset>
          <legend><strong>Sign in</strong> to Knt-Discuss</legend>
          <div class="pure-control-group">
            <%= f.label :email, "Email address" %>
            <%= f.email_field :email %>
          </div>

          <div class="pure-control-group">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>

          <div class="pure-controls">
            <%= f.submit "Sign in", :class => 'pure-button pure-button-primary' %>
          </div>
        </fieldset>  
      <% end %>
    </div>
  </section>
</div>


