<div id="list" class="pure-u-1">
      
    <div class="email-item pure-g">
        <div class="pure-u-3-4">
            <h4 class="email-subject">Subject</h4>
            <p class="email-desc">desc</p>
        </div>
    </div>

</div>

users::show.html.erb