<div class="posts">
  <section class="post">
    <header>
      <!-- avatar here!
      <img
        width="48"
        height="48"
        alt="Kao ..98&#x27;s avatar"
        class="post-avatar"
        src="/"
      />
      -->
      <h2 class="post-title">Introducing Knt-Discuss</h2>
      <p class="post-meta">
        By <a href="#" class="post-author">Kao ..98</a>
      </p>
    </header>
    <div class="post-description">
      <p>
        Please welcome a brand new discussion engine: Knt-Discuss! Feel free
        to try it, registering, signing-in, loging-in, everything!
      </p>
    </div>
  </section>
</div>

<div class="posts">
  <h1 class="content-subhead">News</h1>
  <section class="post">
    <header>
      <!-- avatar here!
      <img
        width="48"
        height="48"
        alt="Kao ..98&#x27;s avatar"
        class="post-avatar"
        src="/"
      />
      -->
      <h2 class="post-title">No release yet - Nothing yet!</h2>
      <p class="post-meta">
        By <a href="#" class="post-author">Kao ..98</a> 
        - <a class="post-category post-category-design">Release</a>
      </p>
    </header>
    <div class="post-description">
      <p>
        How can you be here!?
      </p>
    </div>
  </section>
  <section class="post">
    <header>
      <!-- avatar here!
      <img
        width="48"
        height="48"
        alt="Kao ..98&#x27;s avatar"
        class="post-avatar"
        src="/"
      />
      -->
      <h2 class="post-title">No release yet - Nothing yet!</h2>
      <p class="post-meta">
        By <a href="#" class="post-author">Kao ..98</a> 
        - <a class="post-category post-category-design">Release</a>
      </p>
    </header>
    <div class="post-description">
      <p>
        How can you be here!?
      </p>
    </div>
  </section>
</div>

