.nav-item {
  a.button-signup {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    border: solid 2px rgb(25, 166, 58);
  }
  a.button-signup:hover {
    filter: alpha(opacity=90);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
  }
}

.button-signup {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}
.button-signup:hover {
  filter: alpha(opacity=90);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .05) 40%, rgba(0, 0, 0, .1))
}

.pure-button {
  a {
    color: #fff;
  }
}