// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-label-caution {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
  background: #c34065;
}

.email-item-current {
  border-left: 6px solid #1b98f8;
}

#knt-discuss {

  #nav {
    .pure-menu-link.active {
      background: rgb(55, 60, 90);
    }
  }

  #list {
    .email-item {
      a {
        color: #333;
      }
      a.pure-button {
        color: #fff;
      }
    }
    .email-item.new {
      text-align: center;
    }
  }

  @media (min-width: 40em) { // Medium (tablet, ...)
    #layout {
      padding-left: 600px;
    }

    #nav {
      margin-left: -600px;
      width: 250px;
    }

    #main {
      left: 250px;
    }
  }
}
