$gray-medium-light: #eaeaea;

@mixin box_sizing {
  box-sizing: border-box;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $gray-medium-light;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

