div.field_with_errors {
  display: inline;

  label {
    color: #df2d4f !important; //Ugly, but in that case it really is important
  }

  input {
    border-color: #df2d4f !important; //Idem
    box-shadow: inset 0 1px 3px #f03e60 !important;
  }
}

