<!DOCTYPE html>
<html>
<head>
  <title>KntDiscuss - <%= yield(:title) %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag "https://unpkg.com/purecss@0.6.2/build/pure-min.css", { crossorigin: "anonymous", integrity: "sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" } %>

  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css" %>
    <%= stylesheet_link_tag "pure/application/email-old-ie" %>
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <%= stylesheet_link_tag"https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css" %>
    <%= stylesheet_link_tag "pure/application/email" %>
  <!--<![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body id="knt-discuss">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
      <span class="pure-menu-heading">
        <%= current_user.name %>
      </span>
      <a href="#" class="nav-menu-button">Menu</a>

      <div class="nav-inner">
        <div class="pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="<%= dashboard_index_url %>" class="pure-menu-link <%= activate_menu('dashboard') %>">
                <span class="email-label-work"></span>Dashboard
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="<%= user_path(current_user) %>" class="pure-menu-link <%= activate_menu('profile') %>">
                <span class="email-label-personal"></span>Profile
              </a>
            </li>
            <li class="pure-menu-item">
              <a href="<%= logout_path %>" class="pure-menu-link">
                <span class="email-label-caution"></span>Logout
              </a>
            </li>
          </ul>
        </div>
        <button class="primary-button pure-button">New Discussion</button>

        <div class="pure-menu">
          <ul class="pure-menu-list">
            <li class="pure-menu-heading">Favorites</li>
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                Personal
              </a>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div id="main" class="pure-u-1">
      <%= yield %>
    </div>

  </div>

</body>
</html>
