<!DOCTYPE html>
<html>
<head>
  <title>KntDiscuss - <%= yield(:title) %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag "https://unpkg.com/purecss@0.6.2/build/pure-min.css", { crossorigin: "anonymous", integrity: "sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" } %>

  <!--[if lte IE 8]>
    <%= stylesheet_link_tag "https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css" %>
    <%= stylesheet_link_tag "pure/landing/blog-old-ie" %>
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <%= stylesheet_link_tag"https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css" %>
    <%= stylesheet_link_tag "pure/landing/blog" %>
  <!--<![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

  <div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">
          <%= link_to "Knt-Discuss", root_path %>
        </h1>
        <h2 class="brand-tagline">A minimalist discussion engine</h2>

        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item">
              <%= link_to "Sign in", login_path, :class => "pure-button" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", signup_path, :class => "pure-button button-signup" %>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div>
          <%= yield %>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>

</body>
</html>
